@page "/"
@rendermode InteractiveServer
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject OrderState OrderState

<div class="main">
    <h1>CapBio Pizzas</h1>
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <li @onclick="() => OrderState.ShowConfigPizzaDialog(special)" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (OrderState.ShowingConfigDialog)
{
    <BlazorDemo.Shared.ConfigurePizzaDialog Pizza="OrderState.ConfiguringPizza"
                                            OnCancel="OrderState.CancelConfigPizzaDialog"
                                            OnSave="OrderState.ConfirmConfigPizzaDialog" />
}