@page "/todo"
@rendermode InteractiveServer

<h1>Todo (@todoItems.Count(t => !t.IsDone))</h1>

<ul>
    @foreach (var todo in todoItems)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>